<footer class="flex items-center w-full bottom-0 h-12">
  <ul class="container mx-auto flex">
    <li class="ml-auto">
    </li>
  </ul>
</footer>

<%= htmlWebpackPlugin.tags.bodyTags %>

</body>

</html>