<footer class="flex items-center w-full bottom-0 h-12">
  <ul class="container mx-auto flex">
    <li class="ml-auto">
    </li>
  </ul>
</footer>
<% htmlWebpackPlugin.files.js.forEach((jsFile) => {%>
  <script src=" <%= jsFile %>"></script>
<%}) %>

</body>

</html>