<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Rick: <%= title %></title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="<%= description %>" />
    <meta property="og:url" content="https://ricksm.it" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="<%= description %>" />
    <meta
      property="og:image"
      content="https://userbase.com${require(`./img/social_card.png`)}"
    />
    <meta property="og:description" content="<%= description %>" />
    <meta property="og:site_name" content="Userbase" />
    <meta property="og:locale" content="en_US" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@rick5m" />
    <meta name="twitter:creator" content="@rick5m" />
    <meta name="twitter:url" content="ricksm.it" />
    <meta name="twitter:title" content="<%= description %>" />
    <meta name="twitter:description" content="<%= description %>" />
  </head>

  <body>
    <header class="header">
      <ul>
        <li>home</li>
      </ul>
    </header>
    <div class="container">
      <%= body %>
      <footer class="footer"></footer>
    </div>
  </body>
</html>
