@tailwind base;
@tailwind utilities;

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.md-container p {
  @apply mb-4;
}

.md-container a {
  @apply text-blue-400;
}

.md-container a:hover {
  @apply underline;
}

.md-container strong {
  @apply font-semibold;
}

.md-container h1 {
  @apply leading-tight border-b text-4xl font-semibold mb-4 mt-6 pb-2;
}

.md-container h2 {
  @apply leading-tight border-b text-2xl font-semibold mb-4 mt-6 pb-2;
}

.md-container h3 {
  @apply leading-snug text-lg font-semibold mb-4 mt-6;
}

@screen sm {
  .md-container h1 {
    @apply text-5xl;
  }

  .md-container h2 {
    @apply text-3xl;
  }

  .md-container h3 {
    @apply text-3xl;
  }

  .md-container h4 {
    @apply text-2xl;
  }
}

.md-container li + li {
  @apply mt-1;
}

.md-container li > p + p {
  @apply mt-6;
}
