@tailwind base;
@tailwind utilities;
@tailwind components;

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.md-container li + li {
  @apply mt-1;
}

.md-container li > p + p {
  @apply mt-6;
}
