@tailwind base;
@tailwind utilities;
@tailwind components;

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

a {
  @apply text-blue-500;
}
a:hover {
  @apply underline;
}

.md-container li + li {
  @apply mt-1;
}

.md-container li > p + p {
  @apply mt-6;
}

.skeleton-box {
  position: relative;
  overflow: hidden;
  background-color: #e2e8f0;
}

.skeleton-box:after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  background-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0,
    rgba(255, 255, 255, 0.2) 20%,
    rgba(255, 255, 255, 0.5) 60%,
    rgba(255, 255, 255, 0)
  );
  animation: shimmer 3s infinite;
  content: '';
}

.updates {
  position: relative;
}

.updates .update {
  @apply flex;
  @apply flex-row;
  @apply items-start;
  @apply pb-8;
  @apply relative;
}

.timestamp {
  @apply text-xs;
  @apply p-2;
  @apply bg-gray-300;
  @apply flex;
  @apply justify-center;
  @apply items-center;
  width: 3rem;
  border-radius: 2rem;
  margin-right: 1rem;
}

.line {
  @apply bg-gray-300;
  @apply block;
  content: '';
  width: 1px;
  height: 100%;
  position: absolute;
  top: 1rem;
  bottom: -1rem;
  left: 1.5rem;
  z-index: -1;
}

.info {
  @apply flex;
  @apply flex-1;
  @apply flex-row;
  @apply items-start;
  @apply m-0;
}

.info img {
  width: 1.5rem;
  margin-right: 1rem;
}

.info {
  @apply flex-1;
  @apply text-sm;
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}
