@tailwind base;
@tailwind utilities;
@tailwind components;

/*
  RESETS
*/

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

a {
  @apply text-blue-500;
}
a:not(button):hover {
  @apply underline;
}

/*
  REUSABLE UTILITIES
*/

.timestamp {
  @apply text-xs;
  @apply p-2;
  @apply bg-gray-300;
  @apply flex;
  @apply justify-center;
  @apply items-center;
  @apply flex-shrink-0;
  border-radius: 2rem;
  margin-right: 1rem;
}

.line {
  @apply bg-gray-300;
  @apply block;
  content: '';
  width: 1px;
  height: 100%;
  position: absolute;
  top: 1rem;
  bottom: -1rem;
  left: 0;
  z-index: -1;
}

.logo {
  @apply h-2;
  @apply w-2;

  background: rgb(16, 43, 154);
  display: flex;
  filter: blur(3px);
  border-radius: 50%;
  margin: auto;

  &:after {
    content: '';
    @apply h-3;
    @apply w-3;
    background: rgb(16, 43, 154);
    filter: blur(6px);
  }
}

.skeleton-box {
  position: relative;
  overflow: hidden;
  background-color: #e2e8f0;

  &:after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
    background-image: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0) 0,
      rgba(255, 255, 255, 0.2) 20%,
      rgba(255, 255, 255, 0.5) 60%,
      rgba(255, 255, 255, 0)
    );
    animation: shimmer 3s infinite;
    content: '';
  }
}

/*
  HOME PAGE
*/

.updates {
  position: relative;

  .update {
    @apply flex;
    @apply flex-row;
    @apply items-start;
    @apply pb-8;
    @apply relative;

    .info {
      @apply flex;
      @apply flex-1;
      @apply flex-row;
      @apply items-start;
      @apply m-0;
      @apply text-sm;

      canvas,
      svg,
      span,
      img {
        height: 1.5rem;
        max-width: 1.5rem;
        width: 100%;
        margin-right: 1rem;
      }

      .emoji {
        font-size: 1.2rem;
        text-align: center;
      }

      .progress {
        animation: dash 8s linear forwards, rotate 2s linear infinite;
        stroke-linecap: round;
        transition: stroke-dashoffset 200ms linear, stroke 200ms linear;
        will-change: auto;
        transform-origin: 50% 50%;
      }
    }
  }
}

/*
  WORK PAGE
*/

main[data-route='work'] > ul:first-of-type {
  & > li {
    @apply px-2;
    @apply pb-8;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;

    h4 {
      @apply m-0;
      @apply mr-2;
    }

    ul {
      @apply py-4;
      @apply ml-24;
    }
  }

  @media (min-width: theme('screens.sm')) {
    & > li {
      @apply pb-16;
      flex-direction: row;

      ul {
        @apply ml-4;
        @apply py-0;
      }

      & ul li:first-child,
      & ul li:nth-child(2) {
        display: inline-block;
      }
    }
  }
}

/*
  MD/BLOG stuff
*/

.md-container {
  li + li {
    @apply mt-1;
  }
  li > p + p {
    @apply mt-6;
  }
}

/*
  ANIMATIONS
*/

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
